#inner {
    width:60%;
    height: 100vh;
    margin-left: 20%;
    margin-top: 0vh;
    float: left;
}

.navbar {
    width: 10%;
    height: 5vh;
    float: right;
    font-size: 1.5vh;
    line-height: 5vh;
    margin-top: 2.5vh;
    margin-left: 1%;
    border: 2px solid #66fcf1;
    text-align: center;
    border-radius: 15px;
    transition: box-shadow 0.25s;
    transition: font-size 0.25s;
    color: #66fcf1;
    font-family: "Oxanium", sans-serif;
}

.navbar:hover {
    box-shadow: 0px 0px 10px #c5c6c7;
    cursor: pointer;
    font-size: 1.75vh;
}

#title {
    width: 40%;
    height: 10vh;
    float: left;
    line-height: 10vh;
    font-size: 5vh;
    color: white;
    font-family: "Oxanium", sans-serif;
    font-weight: 600;
}

#nav-container {
    width: 100%;
    height: 30vh;
}

#profile-pic {
    width: 30vh;
    height: 30vh;
    border-radius: 50vh;
    float: left;
}

#bio-paragraph {
    height: 30vh;
    float: right;
    width: 65%;

    position: relative;
    animation: flyInRight 1.5s ease-out forwards; 
}

#bio-paragraph h2 {
    font-family: "Oxanium", sans-serif;
    font-weight: 600;
    font-size: 7vh;
    margin-top: 0%;
    margin-bottom: 1vh;
    color: white;
}

#bio-paragraph p {
    font-family: "Oxanium", sans-serif;
    font-weight: 600;
    font-size: 2vh;
    color: #c5c6c7;
}

#bio {
    height: 70vh;
}

.bio-logo {
    margin-left: 0.5vh;
    margin-top: 0.5vh;
    width: 5vh;
    height: 5vh;
    transition: transform 0.25s;
}

.bio-logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#skills {
    width: 100%;
    height: 55vh;
}

.header {
    font-size: 5vh;
    font-family: "Oxanium", sans-serif;
    font-weight: 600;
    text-align: center;
    color: white;
}

.skills-sub {
    font-size: 3vh;
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    color: white;
}

.skill {
    width: 10%;
    height: 3vh;
    font-size: 1.5vh;
    line-height: 3vh;
    margin-right: 1%;
    margin-bottom: 1vh;
    border: 2px solid #66fcf1;
    text-align: center;
    border-radius: 15px;
    color: #66fcf1;
    font-family: "Oxanium", sans-serif;
    display: inline-block;
}

.subsection {
    width: 100%;
    height: 10vh;
    float: left;
}

.exp-section {
    width: 100%;
    height: 20vh;
    border: 3px solid #66fcf1;
    border-radius: 20px;
    display: inline-block;
    margin-top: 3vh;
    transition: box-shadow 0.25s;
}

.exp-section:hover {
    box-shadow: 0px 0px 20px #c5c6c7;
    cursor: pointer;
}

.role-title {
    font-size: 3.5vh;
    font-family: "Oxanium", sans-serif;
    font-weight: 500;
    color: white;
    margin-left: 3%;
    margin-top: 2vh;
    margin-bottom: 0vh;
    width: 90%;
}

.role-date{
    font-size: 2vh;
    font-family: "Oxanium", sans-serif;
    font-weight: 500;
    color: white;
    margin-left: 3%;
    margin-top: 2vh;
    width: 90%;
}

#education {
    margin-top: 15vh;
}

body {
    background-color: #1f2833;
}

html {
    scroll-behavior: smooth;
}

@keyframes flyInRight {
    from {
        transform: translateX(100vw); /* Start off-screen to the right */
    }
    to {
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes flyInLeft {
    from {
        transform: translateX(-100%); /* Start off-screen to the right */
    }
    to {
        transform: translateX(0); /* End at the original position */
    }
}